{% extends 'base.html' %}

{% block content %}

<div>
    <h1>This site was only made to hold html maps of Covid data by county/state</h1>
</div>

<div class='link__container'>
    <h3>Links:</h3>
    <a class="map__link" href="/countycases">Covid Cases by County</a>
    <a class="map__link" href="/countydeaths">Covid Deaths by County</a>
    <a class="map__link" href="/statecases">Covid Cases by State</a>
    <a class="map__link" href="/statedeaths">Covid Deaths by State</a>
</div>

{% endblock %}